* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

@mixin display($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

main {
    width: 100%;
    height: 100%;

    nav {
        width: 100%;
        height: 8%;
        @include display(space-between, center);

        #navf {
            width: 15%;
            height: 100%;
            padding-left: 1.5rem;
            @include display(space-between, center);
            text-wrap: nowrap;

            p {
                margin-top: 1.2rem;
            }
        }

        .logo {
            height: 1.8rem;
        }

        #navul {
            height: 100%;
            @include display(center, center);
        }

        ul {
            @include display(center, center);
            height: 100%;
            gap: 1rem;
            padding-top: 0.9rem;
            padding-right: 1.5rem;
            font-size: 0.9rem;
            font-weight: 400;

            li {
                list-style: none;
                cursor: pointer;
            }
        }
    }

    #dealers {
        width: 10%;
        height: 10%;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 18rem;
        margin-top: 3.5rem;
        z-index: 1;
        border-radius: 5px;
        display: none;

        #become {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            border-bottom: 0.7px solid black;
            padding-left: 5px;
            list-style: none;
            text-decoration: none;
        }

        #locate {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            padding-left: 5px;
        }
    }

    #spp {
        width: 12%;
        height: 30%;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 8rem;
        margin-top: 3.5rem;
        z-index: 1;
        border-radius: 5px;
        display: none;

        #sup {
            width: 100%;
            height: 35%;
            padding-top: 0.3rem;
            word-wrap: break-word;
            padding-left: 0.3rem;
            border-bottom: 1px solid black;
        }

        #sdw {
            padding-left: 0.3rem;
            padding-top: 0.3rem;

            #wtsp {
                background-color: #25d366;
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
                padding: 8px;
                border-radius: 30px;
                border: none;
                text-align: center;
                margin-left: 27px;
                margin-top: 17px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    #sec-1 {
        width: 100%;
        height: 20%;
        font-size: 1.7rem;
        font-weight: 500;
        padding-left: 7rem;
        padding-top: 3.4rem;
        display: flex;
        align-items: center;
    }

    #sec-2 {
        width: 100%;
        min-height: 100vh;
        // background-color: red;
        padding-left: 7rem;
        padding-right: 7rem;


        #sec-2-top {
            width: 100%;
            height: 70vh;
            display: flex;
            margin-bottom: 2rem;
            gap: 2rem;

            #b1 {
                width: 50%;
                height: 100%;
                background-color: #fff;
                border: 1px solid pink;

            #sec-2-img-1{
              width: 100%;
              height: 60%;
              background: url(./images/imgi_121_BG.png);
              display: flex;
              justify-content: center;
              align-items: center;

              .bike-img{
                width: 30rem;
            }
    
            }

             #sec-2-img-1-des{
              width: 100%;
              height: 40%;
            }

            }
            #b2 {
                width: 50%;
                height: 100%;
                background-color: #fff;
                 border: 1px solid pink;
                

             #sec-2-img-2{
              width: 100%;
              height: 60%;
              background: url(./images/imgi_121_BG.png);
              display: flex;
              justify-content: center;
              align-items: center;

              .bike-img{
                width: 30rem;
            }
            }
            }
        }

        #sec-2-bottom {
            width: 100%;
            height: 70vh;
            display: flex;
            gap: 2rem;

            #b3 {
                width: 50%;
                height: 100%;
                background-color: #fff;
                 border: 1px solid pink;

             #sec-2-img-3{
              width: 100%;
              height: 60%;
              background: url(./images/imgi_121_BG.png);
              display: flex;
              justify-content: center;
              align-items: center;

              .bike-img{
                width: 30rem;
            }
            }
            }
            #b4 {
                width: 50%;
                height: 100%;
                background-color: #fff;
                border: 1px solid pink;

             #sec-2-img-4{
              width: 100%;
              height: 60%;
              background: url(./images/imgi_121_BG.png);
              display: flex;
              justify-content: center;
              align-items: center;

              .bike-img{
                width: 30rem;
                object-fit: contain;
            }
            }
            }
        }
    }
}

// .container-fluid,
// .carousel-inner,
// .carousel-item {
//     height: 80vh;
// }

// .carousel-item img {
//     height: 100%;
//     object-fit: cover;
// }
